  
<table class="table table-striped table-hover">  
    <thead>  
      <tr>  
        <th>#</th>  
        <th>Nombre</th>  
        <th>Cantidad</th>  
        <th>Creado</th>  
        <th>Action</th>  
      </tr>  
    </thead>  
    <tbody>  
         <% arrProductos.forEach(function(producto){ %>  
           <tr>  
             <td><%= producto.id %></td>  
             <td><%= producto.nombre %></td>   
             <td><%= producto.cantidad %></td>  
             <td><%= producto.createdAt.toLocaleDateString('en-US') %></td>  
             <td>  
                 <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>  
                 <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>  
             </td>  
           </tr>  
         <% }); %>  
     </tbody>  
 </table>  
    