<main class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
    <div class="table-responsive">
            <select name="select" class="custom-select custom-select-lg form-control " required="">
                <option value='-1' selected >Seleccione el producto</option>
                <% arrProductos.forEach(function(producto){ %>
                            <option value="<%= producto.id %>">
                        <%= producto.nombre %>
                    </option>
                    <% }); %>
                </select>
            <div id="informacion" class="row">
               
            </div>

        </div>
</main>